@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#tituloNavBar {
	font-family: 'Vollkorn', serif;
}
.active {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f9844a;
	border-radius: 5px;
}

.active > .nav-link {
	color: #277da1 !important;
}

header li {
	margin: 1rem;
}

.form-group {
	margin: 10px;
	text-align: center;
}

form div {
	text-align: center;
}

input[type="date"] {
	width: 10rem;
}

input[type="text"] {
	width: 20rem;
}


#cards {
	display: flex;
	flex-wrap: wrap;
	gap: 1.2rem;
	margin-top: 2rem;
}


.completed-card {
	background-color: #9b9b7a88;
}

.card {
	width: 18rem;
	max-height: 300px !important;
}

.list-group-item {
	font-size: 0.7em;
}

.deleted {
	background-color: #ff9191;
	color: white;
	cursor: pointer;
	font-style: normal !important;
}

.completed {
	font-style: italic;
	color: gray;
	text-decoration: line-through;
}

.not-completed-card {
	background-color: #f3722c;
}

.completed {
	cursor: pointer;
	color: #646464;
	background-color: #f0f0cf;
	font-style: normal !important;
}

.card-completed {
	background-color: #f2f2f2 !important;
	font-style: italic !important;
	color: gray !important;
}

.datas {
	color: unset !important;
	background-color: unset !important;
}


footer {
	background-color:#0D6EFD;
	color: white;
}

footer p {
	padding: 0.5rem;
}