@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box
}
   

body{
	font-family: 'Open Sans', sans-serif;
}

#tituloNavBar{
	font-family: 'Vollkorn', serif;
}
.active {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f9844a;
	border-radius: 5px;
}

.active > .nav-link {
	color: #277da1!important;
}

.card {
	width: 18rem;
	margin: 20px;
}

.completed-card {
	background-color:#9b9b7a88;
}

.completed-body {
}

.completed {
	font-style: italic;
	color:gray;
	text-decoration: line-through;
}

.not-completed-card {
	background-color: #f3722c;
}

.not-completed-body {
}

.not-completed {
	font-weight: bold;
}
