html {
}

.active {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ff8080;
	border-radius: 5px;
}

.active > .nav-link {
	color: #004cff !important;
}

.card {
	width: 18rem;
	margin: 20px;
}

.completed-card {
	background-color: #caf0f8;
}

.completed-body {
}

.completed {
	font-style: italic;
	color:gray;
	text-decoration: line-through;
}

.not-completed-card {
	background-color: #48cae4;
}

.not-completed-body {
}

.not-completed {
	font-weight: bold;
}
