html,
body {
	height: 100%;
}

.active {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ff8080;
	border-radius: 5px;
}

.active > .nav-link {
	color: #004cff !important;
}

.form-group {
	margin: 10px;
}

#cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 18rem;

	max-height: 300px !important;
}

.list-group-item {
	font-size: 0.7em;
}

.deleted {
	background-color: #ff9191;
	color: white;
	cursor: pointer;
	font-style: normal !important;
}

.completed {
	cursor: pointer;
	color: #646464;
	background-color: #f0f0cf;
	font-style: normal !important;
}

.card-completed {
	background-color: #f2f2f2 !important;
	font-style: italic !important;
	color: gray !important;
}

.datas {
	color: unset !important;
	background-color: unset !important;
}
