@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box
}
   

body{
	font-family: 'Open Sans', sans-serif;
}

#backgroundNavBar{
	background-color: #0d3b66 !important;

}

header li {
	margin: 1rem;
}

#tituloNavBar{
	font-family: 'Vollkorn', serif;
}
.active {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f4d35e;
	border-radius: 5px;
}

.active > .nav-link {
	color: #277da1!important;
}

#cards {
	justify-content: center;
}

.card {
	width: 18rem;
	margin: 20px;
}

.completed-card {
	background-color:#9b9b7a88;
}

.completed-body {
}

.completed {
	font-style: italic;
	color:gray;
	text-decoration: line-through;
}

.not-completed-card {
	background-color: #fc5e3ff6;
}

.not-completed-body {
}

.not-completed {
	font-weight: bold;
}


footer {
	background-color:#0d3b66;
	color: white;
}

footer p {
	padding: 0.5rem;
}
